.clientes {
    display: flex;
    flex-direction: column;
    gap: 82px;

    margin-top: 107px;
}

.clientes h2 {
    text-align: center;

    font-size: 40px;
    font-weight: 500;
}

.images img {
    width: 150px;
    height: auto;
}

.carrossel-container {
  overflow: hidden;
  width: 100%;
}

.carrossel-track {
  display: flex;
  width: fit-content;
  animation: scroll 40s linear infinite;
}

.images {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 10px 0;
}

.images img {
  height: 60px;
  object-fit: contain;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.images img:hover {
  transform: scale(1.05);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Estado inicial */
.clientes .images img {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease-out;
}

/* Classe ativada ao scroll */
.clientes.animate-clientes .images img {
  opacity: 1;
  transform: scale(1);
}

/* Efeito de cascata com delay em cada logo */
.clientes.animate-clientes .images img:nth-child(1) {
  transition-delay: 0.1s;
}
.clientes.animate-clientes .images img:nth-child(2) {
  transition-delay: 0.3s;
}
.clientes.animate-clientes .images img:nth-child(3) {
  transition-delay: 0.5s;
}
.clientes.animate-clientes .images img:nth-child(4) {
  transition-delay: 0.7s;
}
.clientes.animate-clientes .images img:nth-child(4) {
  transition-delay: 0.9s;
}
.clientes.animate-clientes .images img:nth-child(4) {
  transition-delay: 0.11s;
}
.clientes.animate-clientes .images img:nth-child(4) {
  transition-delay: 0.13s;
}
.clientes.animate-clientes .images img:nth-child(4) {
  transition-delay: 0.15s;
}
.clientes.animate-clientes .images img:nth-child(4) {
  transition-delay: 0.17s;
}
.clientes.animate-clientes .images img:nth-child(4) {
  transition-delay: 0.18s;
}
.clientes.animate-clientes .images img:nth-child(4) {
  transition-delay: 0.20s;
}

