.confirm {
    display: none;

    width: 50%;
    height: auto;

    padding: 30px;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */

    background: var(--color-white);
    color: var(--color-black);

    border-radius: 50px;

}

.confirm h2 {
    margin: 0;

    font-size: 34px;
    font-weight: 500;

    text-align: center;
}

.confirm p {
    margin: 0;
    margin-top: 5px;

    font-size: 22px;
    font-weight: 500;
}


.confirm > button {
    background: var(--color-linear-orange);
    color: var(--color-black);

    animation: pulseGlowOrange 2s infinite;

    display: block;

    margin: 20px auto;
}

#mesageEnviando {
    display: none;

    color: var(--color-linear-orange);

    margin-top: 20px;

    font-style: italic;
}

@keyframes pulseGlowOrange {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 144, 0, 0.6);
  }
  50% {
    transform: scale(1.07);
    box-shadow: 0 0 15px 6px rgba(229, 137, 18, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 144, 0, 0);
  }
}

@media screen and (max-width: 450px) {
    .confirm {
        width: 70%;
    }

    .confirm h2 {
        font-size: 24px;
    }

    .confirm p {
        font-size: 16px;
    }
}