.metodo {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 107px;

    padding: 79px;
}

.metodo .title h2 {
    text-align: center;

    margin: 0;

    font-size: 40px;
    font-weight: 500;
}

.metodo .title h3 {
    margin: 20px auto;

    font-size: 20px;
    font-weight: 400;

    color: var(--color-orange);
}

.metodo .title p {
    margin: 30px auto;

    font-size: 18px;
    font-weight: 400;
}

.metodo .image {
    background: none;
    padding: 0;
    display: block;
    border-radius: 0;

    margin: 0 auto;
}

.metodo .image img {
    width: 700px;
}

.description-metodo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.info-metodo {
    background-color: #2A2A2A;

    padding: 20px 15px;

    border-radius: 24px;

    text-align: left;

    max-width: 190px;

}

.info-metodo h4 {
    color: var(--color-orange);

    font-size: 18px;
    font-weight: 400;
    text-align: left;

    margin: 0;
}

.info-metodo p {
    font-size: 16px;
    font-weight: 400;

    text-align: left;

    margin-top: 5px;
}




.metodo .info-metodo {
  opacity: 0;
  transform: scale(0.15);
  transition: all 0.6s ease-out;
}

/* Animação ativada */
.metodo.animate-metodo .info-metodo:nth-of-type(1) {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.2s;
}
.metodo.animate-metodo .info-metodo:nth-of-type(2) {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.4s;
}
.metodo.animate-metodo .info-metodo:nth-of-type(3) {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.6s;
}
.metodo.animate-metodo .info-metodo:nth-of-type(4) {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.8s;
}

.mobile {
  display: none;
}




@media screen and (max-width: 450px) {
  .metodo {
    padding: 0;
  }

  .metodo .title h2 {
    font-size: 28px;
  }

  .metodo .title h3 {
    font-size: 18px;

    margin: 0 auto;
  }

  .metodo .image img {
    display: none;
  }

  .metodo .image .mobile {
    display: block;

    width: 300px;
  }

  .info-metodo {
    width: 150px;
    height: 100px;
  }
}