.metodo {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 107px;

    padding: 79px;
}

.metodo .title h2 {
    text-align: center;

    margin: 0;

    font-size: 40px;
    font-weight: 500;
}

.metodo .title h3 {
    margin: 20px auto;

    font-size: 20px;
    font-weight: 400;

    color: var(--color-orange);
}

.metodo .title p {
    margin: 30px auto;

    font-size: 18px;
    font-weight: 400;
}

.metodo .image {
    background: none;
    padding: 0;
    display: block;
    border-radius: 0;

    margin: 0 auto;
}

.metodo .image img {
    width: 700px;
}

.description-metodo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.info-metodo {
    background-color: #2A2A2A;

    padding: 20px 15px;

    border-radius: 24px;

    text-align: left;

    max-width: 190px;

}

.info-metodo h4 {
    color: var(--color-orange);

    font-size: 18px;
    font-weight: 400;
    text-align: left;

    margin: 0;
}

.info-metodo p {
    font-size: 16px;
    font-weight: 400;

    text-align: left;

    margin-top: 5px;
}