nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 33px;
}

.logo img {
    width: 163px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;

}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    font-size: 18px;
    font-weight: 500;

    transition: color 0.3s ease-in;
}

a:hover {
    color: var(--color-orange);
}

.button {
    display: flex;
    align-items: center;
}


.button button {
    padding: 10px 40px;

    margin: 0;

    font-size: 20px;
    font-weight: 500;

    border: none;
    border-radius: 10px;

    background: var(--color-linear-orange);

    cursor: pointer;

    animation: pulseGlowOrange 2s infinite;
}

@keyframes pulseGlowOrange {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 144, 0, 0.6);
  }
  50% {
    transform: scale(1.07);
    box-shadow: 0 0 15px 6px rgba(229, 137, 18, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 144, 0, 0);
  }
}