nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 33px;
}

.logo img {
    width: 163px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;

}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    font-size: 18px;
    font-weight: 500;

    transition: color 0.3s ease-in;
}

a:hover {
    color: var(--color-orange);
}

.button {
    display: flex;
    align-items: center;
}


.button button {
    padding: 10px 40px;

    margin: 0;

    font-size: 20px;
    font-weight: 500;

    border: none;
    border-radius: 10px;

    background: var(--color-linear-orange);

    cursor: pointer;
}